id=[工號]
password=[密碼]
address="[地址]"
address_lat=[緯度]
address_lng=[經度]
checkin_time=08:30:00
checkin_random_range_minutes=25
checkout_time=18:05:00
checkout_random_range_minutes=20
workday_week=1,2,3,4,5,6
url_referer="https://hr.financialsst.net"
url_api="https://hroa-apis-dot-project-newagent1-prod-product.as.r.appspot.com"
agent="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36"